#input-side-td {
  border-right: 2px solid black;
  max-width: 40vw;
  width: 28vw;
  padding-left: 3%;
  vertical-align: text-top;
}

.a4-cv {
  border: 1px solid black;
  height: 11.67in;
  width: 8.27in;
  margin-left: 10%;
  margin-top: 5%;
  padding-left: 3vw;
  padding-right: 3vw;
}

.headers {
  margin-top: 5vh;
  font-size: 1.9em;
}

@media print {
  #input-side-td {
    display: none;
  }
  .a4-cv {
    visibility: visible;
    max-width: 100vw;
    height: auto;
    margin: 0;
    border: 0;
  }
}